includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php

    paths:
        - src

    level: 5

    # Intervention v3/v4 branches: an ignore needed on one version is unmatched on the other.
    reportUnmatchedIgnoredErrors: false

